<section class="canevas">

    <div flex="auto" layout="row" layout-align="space-around center">
        <md-input-container>
            <label >Catégorie</label>
            <md-select ng-model="filter.category">
                <md-option value="" ng-click="changeCategory('')">{{'view.cercle.toutes' | translate}}</md-option>
                <md-option  ng-repeat="cat in categories" value="{{cat}}" ng-click="changeCategory(cat)">
                    {{cat}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label >Mes cercles</label>
            <label ng-hide="cercles[0]">{{'gestion.message.empty' | translate}}</label>
            <md-select ng-model="selectedCercle" ng-change="changeCercle()"
                       ng-model-options="{trackBy: '$value.$id'}">
                <md-option ng-value="cercl" ng-click="changeCercle(cercl)" ng-repeat="cercl in cercles">
                    {{cercl.$id}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <md-divider></md-divider>

    <div ng-hide="allLiens[0]" class="errormessage warning">
        <div style="text-align: center">
            <h4>{{'list.empty' | translate}}</h4>
        </div>
    </div>

    <md-list>
        <md-list-item ng-repeat="lien in allLiens | filter:filter.category | orderBy: title " >
            <md-card flex="auto" layout="row">
                <div flex="80" class="md-list-item-text lien-card" ng-click="showURL(lien)" layout="row">
                    <pict hide-md hide-sm hide-xs></pict>

                    <div flex-gt-md="85" flex="50" layout="column">
                        <h3>{{lien.title}}</h3>
                        {{lien.teasing}}
                        <br/><br/>
                        <div  layout="row">
                            <span flex="15"><b>{{lien.category}}</b></span>
                            <span flex="40" layout="row"><div hide show-gt-sm flex="3"><ng-md-icon icon="account_child"></ng-md-icon></div>{{lien.sharedBy}}</span>
                            <div flex="40" layout="row">
                                <div hide show-gt-sm flex="3"><ng-md-icon icon="link"></ng-md-icon></div>
                                <div class="lien" flex>{{lien.url.substring(0, 30)}}<md-tooltip>{{lien.url}}</md-tooltip></div>
                            </div>
                            <div>
                                 <ng-md-icon icon="thumb_up" size="15" ></ng-md-icon> {{like.cpt}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex-gt-md="20" flex="50" layout="row" layout-align="center center">
                <md-button class="md-fab md-primary md-icon-button" ng-click="moveToBiblio(lien)" aria-label="{{'view.action.read' | translate}}"><ng-md-icon icon="archive" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.read' | translate}}</md-tooltip></md-button>
                <md-button ng-disabled="isLikeDisabled" class="md-fab md-primary md-icon-button" ng-click="like(lien)" aria-label="{{'view.action.like' | translate}}"><ng-md-icon icon="thumb_up" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.like' | translate}}</md-tooltip></md-button>
                </div>
            </md-card>
        </md-list-item>
    </md-list>

</section>
