<section class="canevas">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span translate="view.title"></span></h2>
        </div>
    </md-toolbar>

    <div ng-hide="allLiens.items[0]" class="errormessage warning" translate="list.empty"></div>

    <md-data-table-container ng-show="allLiens.items[0]">
        <table md-data-table >
            <thead md-order="order">
                <th name="lu" order-by="lu" ></th>
                <th name="private" order-by="private" ></th>
                <th name="url" order-by="url" ></th>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="lien in allLiens.items | orderBy: order ">
                <td>{{lien.lu  }}</td>
                <td>{{lien.private  }}</td>
                <td>{{lien.url  }}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

</section>
