
<section class="canevas">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span translate="create.title"></span></h2>
        </div>
    </md-toolbar>

    <form name="currentForm">
        <cdc-alert-error></cdc-alert-error>
            <!-- Attributs -->
            
                    
                            <div layout="row">
                                <label translate="create.Lien.private" flex="10"></label>
                                <md-input-container flex>
                                    <md-radio-group ng-model="currentLien.private" layout="row" layout-align="start center">
                                        <md-radio-button value="true"> <span translate="boolean.true"/> </md-radio-button>
                                        <md-radio-button value="false"> <span translate="boolean.false"/> </md-radio-button>
                                    </md-radio-group>
                                </md-input-container>
                            </div>

           
                      <div layout="row">
                        <md-input-container flex="grow">
                            <label translate="create.Lien.url"></label>
                            
                            <input name="url" type="text"  ng-model="currentLien.url" >
                            <div ng-messages="currentForm.url.$error" multiple  role="alert">
                            </div>

                        </md-input-container>
                      </div>


            <!-- Associations OneToOne -->

            


            

            <!-- Associations select box -->

        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="validate()" aria-label="{{'action.validate' | translate}}" translate="action.validate"></md-button>
            <md-button class="md-raised" aria-label="{{'action.cancel' | translate}}" translate="action.cancel"></md-button>
        </div>

    </form>

</section>
