section.canevas {
    margin: 0px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    height: 100%;
}

ng-md-icon {
    fill: white
}

.profil {
    cursor: pointer;
}
.profil-name {
    font-size: 14px ;
}

.profil-img {
    z-index:1010;
    top:-12px;
    width:40px;
    height:40px;
    background-size: cover;
    border-radius: 40px / 40px;
}

.profil-share-img {
    z-index:1010;
    margin-right: 5px;
    top:-12px;
    width:25px;
    height:25px;
    background-size: cover;
    border-radius: 40px / 40px;
}

.lien {
    text-decoration: underline;
    color: #31708f;
}

.lien-card {
    cursor: pointer;
}

.alt-color {
    background-color: #e0e0e0;
}

md-toolbar.alt-color {
    background-color: #e0e0e0;
}

md-list-item md-card {
    padding: 15px;
    background-color: #e0e0e0;
}

md-toolbar {
    padding-top: 20px;
    padding-left: 40px;
}

ng-md-icon {
    fill: white
}

div.login {
    padding-left: 15em;
    padding-right: 15em;
}

div.formulaire {
    padding-left: 15em;
    padding-right: 15em;
}

div.formulaire form {
    padding-left: 2em;
    padding-right: 2em;
}
