<section class="canevas">

    <div flex="auto" layout="row" layout-align="space-around center">

        <md-input-container>
            <label ng-show="cercles[0]">{{'gestion.message.selectbox' | translate}}</label>
            <label ng-hide="cercles[0]">{{'gestion.message.empty' | translate}}</label>
            <md-select ng-model="selectedCercle"
                       ng-model-options="{trackBy: '$value.$id'}">
                <md-option ng-value="cercl" ng-click="changeCercle(cercl)" ng-repeat="cercl in cercles">
                    {{cercl.$id}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="nouveauCercle($event)"
                   aria-label="{{'action.validate' | translate}}"
                   translate="gestion.action.nouveauCercle"></md-button>

    </div>

    <md-divider></md-divider>
    <md-subheader><span translate="gestion.dashboard.invite"/></md-subheader>

    <div layout="row">
        <div flex>&nbsp;</div>
    </div>

    <form name="currentForm" layout="row">

        <md-autocomplete
                ng-disabled="false"
                md-no-cache="false"
                md-selected-item="selectedItem"
                md-search-text-change="searchTextChange(searchText)"
                md-search-text="searchText"
                md-items="user in querySearch(searchText)"
                md-selected-item-change="selectedItemChange(user)"
                md-item-text="user.email"
                md-min-length="0"
                placeholder="email">
            <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{user.email}}</span>
            </md-item-template>
            <md-not-found>
                Aucune correspondance trouvée pour "{{searchText}}".
            </md-not-found>
        </md-autocomplete>

        <!-- translate="gestion.action.invite" -->
        <md-button class="md-fab md-primary md-icon-button"  aria-label="{{'gestion.action.inviteTool' | translate}}"  ng-click="inviter(selectedItem)">
            <ng-md-icon icon="send"  size="30"></ng-md-icon>
            <md-tooltip>{{'gestion.action.inviteTool' | translate}}</md-tooltip>
        </md-button>

    </form>

    <div layout="row">
        <div flex>&nbsp;</div>
    </div>
    <div layout="row" ng-show="invited && invited.length>0">
        <div flex><strong>Invitation(s) envoyée(s) à : </strong> {{invitedDisplay}}</div>
    </div>
    <div layout="row">
        <div flex>&nbsp;</div>
    </div>

    <md-divider></md-divider>
    <md-subheader><span translate="gestion.dashboard.personnes"/> {{selectedCercle.$id}}</md-subheader>

    <div ng-hide="personnes[0]" class="errormessage warning" translate="list.empty"></div>

    <md-list>
        <md-list-item ng-repeat="personne in personnes | orderBy: fullname">
            <div flex="auto" class="md-list-item-text" layout="column">
                    <span><b>{{personne.fullname}} ({{personne.email}})</b></span>
            </div>
        </md-list-item>
    </md-list>

    <md-divider></md-divider>
    <md-subheader><span translate="gestion.dashboard.invitations"/></md-subheader>

    <div ng-hide="mesInvitations[0]" class="errormessage warning" translate="list.empty"></div>

    <md-list>
        <md-list-item ng-repeat="invitation in mesInvitations | orderBy: $id ">
            <div flex="50" class="md-list-item-text" layout="column">
                <strong>{{invitation.$id}}</strong>
            </div>
            <div flex="50" layout="row">
                <md-button class="md-fab md-primary md-icon-button" ng-click="accepterInvitation(invitation)"
                           aria-label="{{'view.action.read' | translate}}">
                    <ng-md-icon icon="thumb_up" size="30"></ng-md-icon>
                    <md-tooltip>{{'gestion.action.accept' | translate}}</md-tooltip>
                </md-button>
            </div>
        </md-list-item>
    </md-list>

</section>
