<section class="canevas">

    <div ng-hide="liens[0]" class="errormessage warning">
        <div style="text-align: center">
            <h4>{{'list.empty' | translate}}</h4>
        </div>
    </div>

    <md-list>
        <md-list-item ng-repeat="lien in liens | orderBy: title" >
            <md-card flex="auto" layout="row">
                <div flex="80" class="md-list-item-text lien-card" layout="row" ng-click="showURL(lien)">

                    <pict hide-md hide-sm hide-xs></pict>

                    <div flex-gt-md="85" flex="50" layout="column">

                        <h3>{{lien.title.substring(0, 100)}}</h3>
                        {{lien.teasing}}
                        <br/><br/>
                        <div layout="row">
                            <div hide show-gt-sm flex="3"><ng-md-icon icon="link"></ng-md-icon></div>
                            <div class="lien" flex>{{lien.url.substring(0, 60)}}<md-tooltip>{{lien.url}}</md-tooltip></div>
                        </div>
                    </div>
                </div>
                <div flex-gt-md="20" flex="50" layout="row" layout-align="center center">
                    <md-button class="md-fab md-primary md-icon-button" ng-click="deleteLink(lien)" aria-label="{{'view.action.delete' | translate}}"><ng-md-icon icon="delete" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.delete' | translate}}</md-tooltip></md-button>
                    <md-button class="md-fab md-primary md-icon-button" ng-click="moveTo(lien)" aria-label="{{'view.action.read' | translate}}"><ng-md-icon icon="archive" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.read' | translate}}</md-tooltip></md-button>
                    <md-button class="md-fab md-primary md-icon-button" ng-show="canShare()" ng-click="share($event, lien)" aria-label="{{'view.action.share' | translate}}"><ng-md-icon icon="share" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.share' | translate}}</md-tooltip></md-button>
                </div>
            </md-card>
        </md-list-item>
    </md-list>
    <!--div hide-gt-sm layout="row" layout-align="center center" flex>
        <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
    </div -->
</section>
