<section class="canevas">
    <cdc-alert-error></cdc-alert-error>

    <div ng-hide="liens[0]" class="errormessage warning">
        <div style="text-align: center">
            <h4>{{'list.empty' | translate}}</h4>
        </div>
    </div>

    <md-list>
        <md-list-item ng-repeat="lien in liens | orderBy: title">
            <md-card flex="auto" layout="row">
                <div class="md-list-item-text lien-card" flex="auto" layout="column" ng-click="showURL(lien)" >
                    <h3>{{lien.title}}</h3>
                    {{lien.teasing}}
                    <br/><br/>
                    <div layout="row">
                        <div hide show-gt-sm  flex="3"><ng-md-icon icon="link"></ng-md-icon></div>
                        <div class="lien" flex>{{lien.url}}</div>
                    </div>
                </div>
                <div flex="initial" layout="row"  layout-align="center center">
                    <md-button class="md-fab md-primary md-icon-button" ng-click="deleteLink(lien)" aria-label="{{'view.action.delete' | translate}}"><ng-md-icon icon="delete" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.delete' | translate}}</md-tooltip></md-button>
                    <md-button class="md-fab md-primary md-icon-button" ng-click="moveTo(lien)" aria-label="{{'view.action.unread' | translate}}"><ng-md-icon icon="markunread" size="30" ></ng-md-icon> <md-tooltip>{{'view.action.unread' | translate}}</md-tooltip></md-button>
                    <md-button class="md-fab md-primary md-icon-button" ng-show="canShare()" ng-click="share($event, lien)" aria-label="{{'view.action.share' | translate}}"><ng-md-icon icon="share" size="30"></ng-md-icon> <md-tooltip>{{'view.action.share' | translate}}</md-tooltip></md-button>
                </div>
            </md-card>
        </md-list-item>
    </md-list>

</section>
